html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.background {
  background-color: rgb(22, 26, 33);
}

.h2 {
  font-size: 20rem;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid rgb(70, 118, 190);
  color: gold;
  font-family: "kalam", cursive;
}

.child {
  background-color: rgb(11, 92, 105);
  padding: 50px 50px;
  margin: 50px auto;
  border: 3px solid rgb(213, 158, 16);
  box-shadow: 10px 3px 3px black;
  border-radius: 10px;
  font-family: "kalam", cursive;
}

.parent {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0px auto;
  width: 95vw;
  align-items: center;
  flex: 200px;
  flex-wrap: wrap;
}

img {
  height: 25rem;
  margin: 0px auto;
}

.description {
  font-size: 2rem;
  text-align: center;
  padding: 0px;
  /* background-color: rgb(11, 92, 105); */
}

.child {
  transition: all 0.3s;
}
.child:hover {
  transform: scale(125%);
  opacity: 100%;
}

.child-5:hover .child:not(:hover) {
  transform: scale(20%);
  opacity: 75%;
}

.henriques {
  height: 0.01px;
  width: 0.01px;
  background-color: red;
  animation: test 10s infinite;
  position: fixed;
}

.whalen {
  height: 0.01px;
  width: 0.01px;
  animation: test 10s infinite;
  animation-delay: 5s;
  position: fixed;
}

.child-2 {
  animation: flying 10s infinite;
  /* position: absolute; */
}

.child-4 {
  animation: gliding 10s infinite;
  position: absolute;
}

.child-5:hover {
  rotate: 360deg;
  transform: scale(110%);
  background-color: gold;
}

.child-6 {
  animation: gliding2 10s infinite;
  position: absolute;
}

@keyframes test {
  0% {
    left: 0%;
    bottom: 11.5%;
    background-color: aqua;
    rotate: 0deg;
  }
  25% {
    left: 100%;
    bottom: 22.5%;
    background-color: black;
    /* rotate: 90deg; */
  }
  50% {
    left: 100%;
    bottom: 87.5%;
    background-color: azure;
    rotate: 180deg;
  }
  75% {
    left: 0%;
    bottom: 75%;
    background-color: blueviolet;
    /* rotate: 270deg; */
  }
  100% {
    left: 0%;
    bottom: 11.5%;
    background-color: brown;
    rotate: 360deg;
  }
}

@keyframes gliding {
  0% {
    left: 6.5%;
    top: 110.5%;
  }
  25% {
    left: 6.5%;
    top: 110.5%;
  }
  50% {
    left: 71%;
    top: 110.5%;
  }
  75% {
    left: 72%;
    top: 110.5%;
  }
  100% {
    left: 6.5%;
    top: 110.5%;
  }
}

@keyframes gliding2 {
  0% {
    right: 6.5%;
    top: 110.5%;
  }
  25% {
    right: 6.5%;
    top: 110.5%;
  }
  50% {
    right: 71%;
    top: 110.5%;
  }
  75% {
    right: 72%;
    top: 110.5%;
  }
  100% {
    right: 6.5%;
    top: 110.5%;
  }
}

@keyframes flying {
  0% {
    left: 45%;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 0deg;
  }
  20% {
    rotate: 0deg;
  }
  30% {
    rotate: 0deg;
  }
  40% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  60% {
    rotate: 360deg;
  }
  70% {
    rotate: 360deg;
  }
  80% {
    rotate: 360deg;
  }
  90% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}

@media screen and (max-width: 900px;) {
  .parent {
    flex-direction: column;
    margin: 0px auto;
    width: 100vw;
    flex: 100;
  }
  .child {
    width: 100%;
  }
}

@media screen and (max-width: 600px;) {
  .parent {
    flex-direction: column;
    margin: 0px auto;
    width: 100vw;
    flex: 100;
  }
  .child {
    width: 100%;
  }
}
