html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(22, 26, 33);
}
.background {
  background-color: rgb(22, 26, 33);
}

.h2 {
  font-size: 20rem;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid rgb(70, 118, 190);
  color: gold;
  font-family: "kalam", cursive;
}

.child {
  background-color: rgb(11, 92, 105);
  padding: 50px 50px;
  margin: 50px auto;
  border: 3px solid rgb(213, 158, 16);
  box-shadow: 10px 3px 3px black;
  border-radius: 10px;
}

.parent {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px auto;
  width: 95vw;
  align-items: center;
  flex: 200px;
  flex-wrap: wrap;
}

img {
  height: 25rem;
  margin: 0px auto;
}

.description {
  font-size: 2rem;
  text-align: center;
  padding: 0px;
  background-color: rgb(11, 92, 105);
}

@media screen and {
  max-width: 900px;
}

@media screen and {
  max-width: 600px;
}
