html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: cornflowerblue;
}
.background {
  background-color: cornflowerblue;
}

.heading {
  font-size: 20rem;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
}

.h2 {
  background-color: aqua;
}

.child {
  background-color: aqua;
  padding: 50px 50px;
  margin: 50px auto;
  width: 20%;
  height: 50px;
}
.parent {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.parent2 {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
}

.parent3 {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.px-size {
  font-size: 20px;
}
.rem-size {
  font-size: 2rem;
}
.em-size {
  font-size: 1em;
}
h2 {
  margin: 10px;
}
.child {
  border: 3px solid red;
  width: 28%;
}
